<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'tidal/css/myTidal.css' %}">
        <link rel="stylesheet" href="{% static 'tidal/css/content.css' %}">
    </head>
    <body>
        <script src="{% static 'tidal/js/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
        <!-- real page ----------------------------------------------------------------------------------------------->
        <section style="margin-left: 20px; margin-top: 20px">
            {% if employees_count != 0 %}
            <table class="table" style="width: 660px">
                <thead>
                    <tr>
                        <th colspan="4" style="color: #337AB7">
                            <span>下属同学</span>
                            <span style="color: #777; float: right">&nbsp;&nbsp;&nbsp;{{ employees_count }}</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in employees %}
                    <tr style="color: #555">
                        <td style="width: 150px">{{ employee.nickname }}</td>
                        <td style="width: 150px">{{ employee.phone }}</td>
                        <td style="width: 150px">{{ employee.sequence }}</td>
                        <td align="right" style="width: 150px">{{ employee.grade }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            <br>
            {% if productions_count != 0 %}
            <table class="table" style="width: 660px">
                <thead>
                    <tr>
                        <th colspan="4" style="color: #337AB7">
                            <span>运营产品</span>
                            <span style="color: #777; float: right">&nbsp;&nbsp;&nbsp;{{ productions_count }}</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for production in productions %}
                    <tr style="color: #555">
                        <td style="width: 150px">{{ production.name }}</td>
                        <td style="width: 150px">{{ production.tag }}</td>
                        <td style="width: 150px">{{ production.user }}</td>
                        <td align="right" style="width: 150px">{{ production.add_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </section>
    </body>
</html>