<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'tidal/css/myTidal.css' %}">
        <link rel="stylesheet" href="{% static 'tidal/css/content.css' %}">
    </head>
    <body>
        <script src="{% static 'tidal/js/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
        <script type="text/javascript">
            function go() {
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            }
        </script>
        <form action="{% url 'employee' %}?password={{ employee.id }}" method="post">
            {% csrf_token %}
            <div content="form-group" style="margin-left: 20px; margin-top: 20px">
                <div class="my-label-tag">Enter new password</div>
                <div>{{ form.new_password }}</div>
                <div style="color: #FF0033">{{ form.new_password.errors }}</div>
                <div class="my-label-tag">Enter new password again</div>
                <div>{{ form.new_password_again }}</div>
                <div style="color: #FF0033">{{ form.new_password_again.errors }}</div>
            </div>
            <div style="margin-left: 20px; margin-top: 20px">
                <button class="my-submit" type="submit" onclick="go()">提交</button>
            </div>
        </form>
    </body>
</html>